-- test_project/recipes/sql/loader.sql.j2
-- Jinja2 템플릿을 사용한 동적 SQL 로더 예제

SELECT 
    user_id,
    item_id,
    timestamp,
    -- context_params에서 target_date를 받아와 파티션 컬럼으로 사용
    '{{ target_date }}' as target_date 
FROM 
    {{ source_table }}
WHERE
    date_partition = '{{ target_date }}'
LIMIT 100 -- 테스트를 위해 데이터 양을 제한 