version: '3.8'

services:
  app:
    build: .
    image: {{ project_name }}:latest
    container_name: {{ project_name }}_app
    volumes:
      - ./data:/app/data
      - ./configs:/app/configs
      - ./recipes:/app/recipes
      - ./sql:/app/sql
    environment:
      - PROJECT_NAME={{ project_name }}
    networks:
      - {{ project_name }}_network
    
networks:
  {{ project_name }}_network:
    driver: bridge