mlflow==3.1.1
cloudpickle==3.1.1
db-dtypes==1.4.3
feast==0.50.0
google-cloud-bigquery==3.34.0
google-cloud-storage==3.2.0
grpcio-status==1.73.1
gunicorn==23.0.0
numpy==2.2.6
optuna==4.4.0
pandas==2.3.1
pyarrow==17.0.0
python-dotenv==1.1.1
redis==6.2.0
scikit-learn==1.7.0
scipy==1.15.3
sqlalchemy==2.0.41
watchfiles==1.1.0